<div class="row justify-content-center">
  <div class="col-6">
    <h3 class="mt-4">
      <strong>New Task</strong>
    </h3>
    <form>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" [(ngModel)]="task.category" name="category">
          <option *ngFor="let singleCategory of categories">{{singleCategory}}</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputStartDate">Start date</label>
          <input [(ngModel)]="taskStart.date" name="startDate" type="date" class="form-control" id="inputStartDate">
        </div>
        <div class="form-group col-md-6">
          <label for="inputStartTime">Time</label>
          <input [(ngModel)]="taskStart.time" name="startTime" type="time" class="form-control" id="inputStartTime">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEndDate">End date</label>
          <input [(ngModel)]="taskEnd.date" name="startEnd" type="date" class="form-control" id="inputEndDate">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEndTime">Time</label>
          <input [(ngModel)]="taskEnd.time" name="endTime" type="time" class="form-control" id="inputEndTime">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <input [(ngModel)]="task.description" name="description" type="text" class="form-control" id="inputDescription"
          placeholder="Enter description for this task">
      </div>
      <button class="btn btn-primary" (click)="createTask()">Create</button>
    </form>
    <div class="mt-2" *ngIf="showAlert">
      <app-alert [alertMessage]="alertMessage" [alertType]="alertType"></app-alert>
    </div>
  </div>
</div>